
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chat{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="icon" href="/media/chatbot.ico" type="image/x-icon">
    <!-- Other head elements like CSS links -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <footer>
        <!-- Footer content -->
    </footer>
    Developed by Azad
    <!-- Scripts if any -->
    <script src="script.js"></script>
</body>
</html>
